<div class="container-fluid">
    <div class="row">
    <div class="col-md-6">
    <img src="/assets/eleee.PNG" height="90% " widht="90% ">
    </div>
     <div class="col-md-4 mt-3">
     <h1 class="text-success text-center"> Bienvenue sur notre <br> notre plat-forme Elearning  </h1>
      
    
     <form action="" class="mt-4">
        <h5 class="text-warning" mb-3> connexion   </h5>
        <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Nomdutilisateur" name="Nomdutilisateur">
        <label for="floatingInput">addresse Email</label>
        </div> 
        <div class="form-floating" mb-3>
        <input type="password" class="form-control" id="floatingPassword" placeholder="motdepasse" name="motdepasse"  >
        <label for="floatingPassword">mot de passe</label>
        </div>
    
          <div class="d-grid gap-2 ">
            <button class="btn btn-outline-success" type="button" (click)="aller()">connexion</button>
          </div>
          <div>
      <a href="resetpassword"  class="text-warning"style="text-decoration:none ;"> Vous avez oublié votre mot de passe ? rénisialiser      </a>
    </div>
      <a href="signup"  class="text-warning"style="text-decoration:none ;">  Vous n'avez pas de compte ? S’inscrire    </a>
     </form> 
    </div>
    
    
    <div class="col-md-2">
    
    </div>
    </div> 
    </div>
