

<h3  text-align="center" > Bienvenu <br> Meilleur cours   </h3>
<!DOCTYPE html>
 <html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     </head>
     <body>
      
     <div class="container">
      <div class="row">
               <div class="col-4">
                  <img src="assets/angular.PNG"  style="width:70%; height:auto">
                 
               </div>
               
              <div class="col-4">
                  <img src="assets/phython.PNG" style="width:70%; height:auto">
                 
               </div>
              <div class="col-4">
                <img src="assets/html.PNG"  style="width:70%; height:auto">
                
              </div>
        </div> 
    </div>

    <div class="container">
        <div class="row">
                 <div class="col-4">
                    <img src="assets/css.PNG"  style="width:70%; height:auto">
                  
                 </div>
                <div class="col-4">
                    <img src="assets/deep.PNG" style="width:70%; height:auto">
                    
                 </div>
                <div class="col-4">
                  <img src="assets/php.PNG"  style="width:70%; height:auto">
                  
                </div>
          </div> 
      </div>

      <div class="container">
         <div class="row">
                  <div class="col-4">
                     <img src="assets/js.PNG"  style="width:70%; height:auto">
                   
                  </div>
                 <div class="col-4">
                     <img src="assets/bootstrap.PNG" style="width:70%; height:auto">
                     
                  </div>
                 <div class="col-4">
                   <img src="assets/wordpresse.PNG"  style="width:70%; height:auto">
                   
                 </div>
           </div> 
       </div>