
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-6">
            <img src="/assets/eleee.PNG" height="90% " widht="90% ">
            </div>
             <div class="col-md-4 mt-3">
             <h1 class="text-success text-center">Inscrivez-vous et commencez à apprendre
            </h1>
            
             <form action="" class="mt-4">
                <h5 class="text-warning" mb-3> S'inscrire </h5>
                <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="Nomdutilisateur" name="name " >
                <label for="floatingInput"> Nom </label>
                
                </div> 

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Nomdutilisateur" name="name" >
                    <label for="floatingInput"> Adresse Email</label>
                    
                    </div> 

                <div class="form-floating" mb-3>
                <input type="password" class="form-control" id="floatingPassword" placeholder="motdepasse" name="motdepasse">
                <label for="floatingPassword">mot de passe</label>
                </div>
            
                
            
                  <div class="d-grid gap-2 ">
                    <button class="btn btn-outline-success" type="button">s'inscrire</button>
                  </div>
            
               <a routerLink="/" href="#"  class="text-warning"style="text-decoration:none ;"> connexion?    </a>
               <h6> J'accepte les conditions d'utilisation et la politique de confidentialité </h6>
              <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
             </form> 
            </div>
            <div>

             
            </div>
            <div class="col-md-2">
              
             
            </div>
            </div> 
            </div>
