<div class="container-fluid">
    <div class="row">
    <div class="col-md-6">
    <img src="assets/eleee.PNG" height="90% " widht="90% ">
    </div>
     <div class="col-md-4 mt-3">
     <h1 class="text-success text-center">Vous avez oublié votre mot de passe. </h1>
    
     <form action="" class="mt-4">
       
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="Nom d'utilisateur" name="Nomdutilisateur" >
          <label for="floatingInput">addresse Email</label>
        </div> 
        
    
          <div class="d-grid gap-2 ">
            <button class="btn btn-outline-success" type="button" (click)="aller1()" > Rénisialiser le mot de passe </button>
          </div>
     </form> 
    </div>
    <div class="col-md-2">
    
  </div>
 </div> 
 </div>
